CVS/
/contrib/makedepend/makedepend-1.0.5/
/contrib/include/
/win32/Autoupdater/
/defunct/
/EXTRA/
/doc/
/libbsdfetch/freebsd/
/libbsdfetch/netbsd/
/hlpdoc/ndplus/
/hlpdoc/doc/
/hlpdoc/ndplus/
/objects/
/lib/
/bin/
/macros/
/help/
/.makelib/
_grstate
.created
.unpacked*
__libtool__.lnk
Makefile
*.cache
*.exe
*.dll
*.pdb
*.obj
*.cm
*.bak
.#*
