CVS/
/contrib/include/
/win32/Autoupdater/
/defunct/
/EXTRA/
/doc/
/objects/
/lib/
/bin/
/macros/
/help/
/.makelib/
GIT_Notes.txt
GIT*.bat
_grstate
.created
.unpacked*
__libtool__.lnk
Makefile
*.cache
*.exe
*.dll
*.pdb
*.obj
*.cm
*.bak
*.err
.#*
